<launch>
  <arg name="open_rviz" default="true"/>
  <arg name="map_file" default="$(find alfred)/maps/map.yaml"/>

  <!-- manipulation bringup -->
  <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>

  <!-- navigation -->
  <include file="$(find turtlebot3_manipulation_navigation)/launch/navigation.launch">
    <arg name="open_rviz" value="false" />
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- moveit -->
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find alfred)/rviz/alfred.rviz"/>
  </group>

  <!-- alfred_vision -->
  <node pkg="alfred" type="alfred_vision.py" name="alfred_vision"/>

  <!-- alfred_tf_broadcast -->
  <node pkg="alfred" type="alfred_tf_broadcaster.py" name="alfred_tf_broadcast"/>

  <!-- alfred_manipulation -->
  <node pkg="alfred" type="alfred_manipulation.py" name="alfred_manipulation"/>

  <!-- alfred_navigation -->
  <node pkg="alfred" type="alfred_navigation.py" name="alfred_navigation"/>

  <!-- alfred_interface -->
  <node pkg="alfred" type="alfred_interface.py" name="alfred_interface"/>
</launch>
